# Configuration for vikunja setup

name: vikunja
services:
  vikunja:
    image: vikunja/vikunja:0.24.6
    container_name: vikunja
    ports:
      - "3456:3456"
    volumes:
      - /DATA/AppData/$AppID/files:/app/vikunja/files
    environment:
      VIKUNJA_SERVICE_PUBLICURL: http://<your public frontend url with slash>/
      VIKUNJA_DATABASE_HOST: vikunja-db
      VIKUNJA_DATABASE_PASSWORD: secret
      VIKUNJA_DATABASE_TYPE: mysql
      VIKUNJA_DATABASE_USER: vikunja
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_SERVICE_JWTSECRET: change-me-to-a-random-secret-string
      VIKUNJA_SERVICE_ENABLEREGISTRATION: "true"
    restart: unless-stopped
    depends_on:
      - vikunja-db
    networks:
      - vikunja-network
    x-casaos:
      envs:
        - container: VIKUNJA_SERVICE_PUBLICURL
          description:
            en_us: "Container Variable: VIKUNJA_SERVICE_PUBLICURL"
        - container: VIKUNJA_DATABASE_PASSWORD
          description:
            en_us: "Container Variable: VIKUNJA_DATABASE_PASSWORD"
        - container: VIKUNJA_SERVICE_JWTSECRET
          description:
            en_us: "Container Variable: VIKUNJA_SERVICE_JWTSECRET"
      volumes:
        - container: /app/vikunja/files
          description:
            en_us: "Container Path: /app/vikunja/files"
      ports:
        - container: "3456"
          description:
            en_us: "Container Port: 3456"

  vikunja-db:
    image: mariadb:10.11
    container_name: vikunja-db
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: supersecret
      MYSQL_USER: vikunja
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: vikunja
    volumes:
      - /DATA/AppData/$AppID/mysql:/var/lib/mysql
    restart: unless-stopped
    networks:
      - vikunja-network
    x-casaos:
      envs:
        - container: MYSQL_ROOT_PASSWORD
          description:
            en_us: "Container Variable: MYSQL_ROOT_PASSWORD"
        - container: MYSQL_PASSWORD
          description:
            en_us: "Container Variable: MYSQL_PASSWORD"
      volumes:
        - container: /var/lib/mysql
          description:
            en_us: "Container Path: /var/lib/mysql"

networks:
  vikunja-network:
    driver: bridge

x-casaos:
  architectures:
    - amd64
    - arm64
  main: vikunja
  description:
    en_us: The open-source, self-hostable to-do app. Organize everything, on all platforms.
  tagline:
    en_us: Vikunja
  developer: Vikunja Team
  author: DF_public
  icon: https://cdn.jsdelivr.net/gh/selfhst/icons/png/vikunja.png
  thumbnail: ""
  title:
    en_us: Vikunja
  category: Utilities
  port_map: "3456"
